# Connectors
/Connectors/Revit/* @bau-tech
/Connectors/Tekla/* @bau-tech

# Converters
/Converters/Revit/* @bau-tech
/Converters/Tekla/* @bau-tech

# DUI
/DUI3/* @bau-tech

# SDK
/Sdk/* @bau-tech

# Build
/Build/* @bau-tech
/.github/* @bau-tech
/.config/* @bau-tech
